*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#0f172a;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.app{
width:90%;
max-width:400px;
background:white;
border-radius:15px;
padding:15px;
}

header{
text-align:center;
margin-bottom:10px;
}

nav{
display:flex;
justify-content:space-around;
margin-bottom:10px;
}

nav button{
padding:8px;
border:none;
background:#3b82f6;
color:white;
border-radius:8px;
}

.seccion{
display:none;
text-align:center;
}

.activa{
display:block;
}

.card{
background:#f1f5f9;
margin:10px;
padding:10px;
border-radius:10px;
}

button{
margin-top:5px;
padding:8px;
border:none;
background:#22c55e;
color:white;
border-radius:8px;
}

img{
width:100%;
border-radius:10px;
margin-top:10px;
}

footer{
text-align:center;
margin-top:10px;
}
